/* .test {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
} */

.fields-Cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.iFrameWidgetDiv {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

.iframeBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.field-item-div {
    display: flex;
    flex-direction: column;
}

.radio-cont-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}